* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

.page {
    margin: 0 auto;
    background-color: #b9b9b9;
    overflow-x: hidden;
}

.btn {
    text-decoration: none;
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn_main {
    border-radius: 5px;
    color: #fff;
    background-color: #06c;
}

.btn__wrapper {
    max-width: 150px;
}

.btn_main:hover {
    background-color: #004b96;
    transition-duration: 0.5s;
}

.title_main {
    font-size: 50px;
}

.title_secondary {
    font-size: 30px;
}

.text_main {
    font-size: 25px;
    margin: 5px 0;
}

.header__tablet {
    display: none;
}

.header__backgroundNavigation {
    width: 100%;
    background-color: #0059b3;
}

.header__containerNavigation {
    max-width: 1400px;
    height: 40px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
}

.list__item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.list__item:hover .link {
    text-decoration: underline;
}

.list__item_border_left {
    border-left: 1px solid #b9b9b9;
}

.link {
    text-decoration: none;
    display: block;
}

.link:hover {
    text-decoration: underline;
}

.link_color_white,
.text_color_white {
    color: #fff;
}

.link_color_black {
    color: #000;
}

.header__backgroundMenu,
.header__backgroundNavbar {
    background-color: #0066cc;
    width: 100%;
}

.header__containerNavbar {
    height: 180px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.icon {
    height: 30px;
    overflow: hidden;
}

.icon:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.link_radio_white {
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title {
    width: 70%;
    padding: 10px;
}

.header__containerMenu {
    height: 60px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.list__item_background_white {
    background-color: #fff;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isActive {
    border-bottom: 1px solid #fff;
}

.main__backgroundArticles {
    background-color: #0066cc;
}

.main__containerArticles {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.main__articles {
    display: flex;
    align-items: center;
}

.main__news,
.main__public {
    width: 50%;
    height: 485px;
    padding: 50px;
    position: relative;
    z-index: 1;
}

.main__public::before {
    position: absolute;
    content: "";
    z-index: -1;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #f7f9fa;
    width: 50vw;
    background-image: url("img/back1.svg");
}

.main__news::before {
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #cce6ff;
    width: 50vw;
    background-image: url("img/back2.svg");
    background-repeat: no-repeat;
    background-position: 70% -110%;
}

.main__backgroundBanner {
    background-color: #0066cc;
    background-image: url("img/back3.svg");
    background-size: contain;
}

.main__containerBanner{
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main__banner {
    padding: 15px;
    width: 80%;
    height: 150px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.main__banner::before {
    position: absolute;
    content: "";
    left: -80px;
    top: -40px;
    background-color: #cce6ff;
    width: 100px;
    height: 100px;
    background-image: url(img/logo-it.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 10px;
    background-position: 50% 50%;
}

.main__bannerText {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__bannerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 220px;
}

/************************************************************ media */
@media (max-width: 1250px) {

}

@media (max-width: 1000px) {
    .header__navigation {
        display: none;
    }

    .header__tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .header__social,
    .list_hidden {
        display: none;
    }

    .main__articles {
        flex-direction: column;
    }

    .main__news,
    .main__public {
        width: 100%;
        height: 100%;
        padding: 25px;
        margin-top: 10px;
    }

    .main__news::before,
    .main__public::before {
        width: 100%;
        background-size: contain;
    }

    .title_main {
        font-size: 35px;
    }

    .title_secondary {
        font-size: 25px;
    }

    .main__banner::before {
        display: none;
    }

    .main__containerBanner {
        height: 350px;
    }

    .main__banner {
        flex-direction: column;
        height: 80%;
    }
}

@media (max-width: 700px) {

}

@media (max-width: 567px) {
    .header__backgroundMenu {
        display: none;
    }

    .header__search {
        display: none;
    }

    .main__containerBanner {
        height: 450px;
    }
}